---
layout: default
title: Blog
permalink: /blog/
---
<h1>Blog</h1>

<p>Posts about our workshops, training sessions, projects, and other things related to Nextflow/nf-core.</p>

<h2>Posts</h2>
<ul>
  {% assign today = 'now' | date: '%Y%m%d' %}
  {% for post in site.posts %}
    {% assign post_date = post.date | date: '%Y%m%d' %}
    {% if post_date < today %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <small>{{ post.date | date: "%B %d, %Y" }}</small>
      </li>
    {% endif %}
  {% endfor %}
</ul>

