<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

   <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->


    <div class="footer-col-wrapper">
<!--      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              <a href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>
-->


<!--      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>
    -->

    <div class="footer-col footer-col-1">
      <h3>Useful Links</h3>
      <ul class="useful-links">
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="https://github.com/Eco-Flow/">Github</a></li>
        <li><a href="https://www.nextflow.io/">Nexflow</a></li>
        <li><a href="https://nf-co.re/">nf-core</a></li>
      </ul>
    </div>
    
      <div class="footer-col footer-col-2">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
