<footer class="site-footer">
  <div class="wrap">
    <div class="footer__grid">

      <div class="footer__brand">
        <img class="footer__logo" src="{{ '/img/ecoflow-white.png' | relative_url }}" alt="Eco-Flow">
        <p class="footer__tagline">{{ site.description | escape }}</p>
        <div class="footer__runwith">
          <span class="footer__runwith-label">Run with</span>
          <div class="footer__partners">
            <a href="https://www.nextflow.io/"><img class="logo-nextflow" src="{{ '/img/nextflow-white.png' | relative_url }}" alt="Nextflow"></a>
            <a href="https://nf-co.re/"><img class="logo-nfcore" src="{{ '/img/nfcore-white.png' | relative_url }}" alt="nf-core"></a>
          </div>
        </div>
      </div>

      <div class="footer__col">
        <h4>Explore</h4>
        <ul>
          <li><a href="{{ '/about/' | relative_url }}">About</a></li>
          <li><a href="{{ '/services/' | relative_url }}">Services</a></li>
          <li><a href="{{ '/training/' | relative_url }}">Training</a></li>
          <li><a href="{{ '/pipelines/' | relative_url }}">Pipelines</a></li>
          <li><a href="{{ '/partners/' | relative_url }}">Ambassadors &amp; partners</a></li>
          <li><a href="{{ '/funding/' | relative_url }}">Funding</a></li>
        </ul>
      </div>

      <div class="footer__col">
        <h4>Connect</h4>
        <ul>
          <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
          <li><a href="{{ '/events/' | relative_url }}">Events</a></li>
          <li><a href="https://github.com/Eco-Flow/">GitHub</a></li>
          <li><a href="mailto:ecoflow.ucl@gmail.com">ecoflow.ucl@gmail.com</a></li>
        </ul>
      </div>

    </div>

    <div class="footer__bottom">
      <span>© {{ site.time | date: "%Y" }} Eco-Flow · Hosted at UCL</span>
      <span>Funded by the BBSRC · Supported by Seqera</span>
    </div>
  </div>
</footer>
