<div class="trigger">
  {%- for path in include.paths -%}
    {%- assign page = site.pages | where: "path", path | first -%}
    {%- if page.title -%}
      {%- if page.path == "pipelines.md" -%}
        <!-- Pipelines dropdown -->
        <div class="page-link dropdown">
          <a href="#">
            Pipelines ▾
          </a>
          <ul class="dropdown-menu">
            {% assign pages = site.pipelines | sort: "nav_order" %}
            {% for p in pages %}
              <li>
                <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {%- else -%}
        <a class="page-link" href="{{ page.url | relative_url }}">
          {{ page.title | escape }}
        </a>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
</div>
